/* DEBUG:  */
/* body [class*="col-"] {
  height: 100px;
  background-color: pink;
  border: 1px solid red;
} */

/* Utility classes */
body {
  font-family: 'Montserrat', sans-serif;
}

.bg_blue {
  background-color: #3A546D;
}

.border_none {
  border: none;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
}

h4 {
  font-weight: 500;
  font-size: 50;
  margin: 15px 0;
}

p {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
}

/* .fa, .fas {
  font-size: 26px;
  color: black;
  position: relative;
  margin: 30px 100px;
} */

/* .fa, .fas::before {
  content: "_______________";
  color:white;
  position: absolute;
  top: -13px;
  left: -220px;
}

.fa, .fas::after {
  content: "_______________";
  color: white;
  position: absolute;
  top: -13px;
  right: -220px;
} */


/* /Utility classes */

/* header site */
/* nav bar */
nav {
height: 100px;
}

.navbar-header {
  line-height: 100px;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
  font-weight: 700;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #1ABC9C;
}

/* /nav bar */

/* hero site*/
.hero {
  background-color: #1ABC9C;
  color: white;
}

.hero img {
  margin: 150px 0 50px 0;
  height: 250px;
  width: auto;
}

.hero h1 {
  font-weight: 800;
  font-size: 90px;
}

.star_line:before {
  margin: 15px 0;
}

.hero li {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
}

.hero ul {
  margin-bottom:30px;
}
/* /hero site*/
/* /header site */

/* main site */
/* section porfolio */
.portfolio {
  color: #2C3E50;
}

.portfolio img {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 90px;
}
/* /section porfolio */

/* section about me */
.about_me {
  height: 500px;
  background-color: #1ABC9C;
  color: white;
}
/* /section about me */

/* section contact me */
.contact_me {
  color: #2C3E50;
}

.contact_me h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 50px 0;
}

hr:last-child {
  margin-top: 100px;
}

.contact_me button {
  background-color: #1BBC9C;
  height: 80px;
  width: 140px;
  margin: 50px 0;
}
/* /section contact me */
/* /main site */

/* footer side */
/* footer top */
.footer_top {
  background-color: #3A546D;
  color: white;
}

.icon_footer > i {
  font-size: 30px;
  margin: 10px;
}

.footer_top_content {
  padding: 50px 0;
}

.footer_top a {
  color: #1ABC9C;
}
/* /footer top */
/* footer bottom */
.footer_bootom {
  background-color: #2C3E50;
  color: white;
}
/* /footer bottom */
/* /footer side */
