/* DEBUG:  */
/* body [class*="col-"] {
  height: 100px;
  background-color: pink;
  border: 1px solid red;
} */

/* Utility classes */
body {
  font-family: 'Montserrat', sans-serif;
}

.bg_blue {
  background-color: #3A546D;
}

.border_none {
  border: none;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
}

h4 {
  font-weight: 500;
  font-size: 50;
  margin: 15px 0;
}

p {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
}

#star, .fas, .fa-star  {
  font-size: 35px;
  position: relative;
}

#star:before {
  content: "________";
  position: absolute;
  top: -13px;
  left: 300px;
}

#star:after {
  content: "________";
  position: absolute;
  top: -13px;
  right: 300px;
}

.star_line {
  margin: 10px 0 30px 0;
}
/* /Utility classes */

/* header site */
/* nav bar */
.navbar-default .navbar-brand {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
}

.navbar-default .navbar-nav > li > a {
  font-weight: 700;
  color: white;
  margin: 20px 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1ABC9C;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.navbar-toggle {
  margin: 30px;
  background-color: #1BBC9B;
}

.navbar-toggle .menu_toggle, .icon-bar {
  color: white;
  font-weight: 600;
}
/* /nav bar */

/* hero site*/
.hero {
  background-color: #1ABC9C;
  color: white;
}

.hero img {
  margin: 150px 0 50px 0;
  height: 250px;
  width: auto;
}

.hero h1 {
  font-weight: 800;
  font-size: 90px;
}

.star_line:before {
  margin: 15px 0;
}

.hero li {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
}

.hero ul {
  margin-bottom:30px;
}
/* /hero site*/
/* /header site */

/* main site */
/* section porfolio */
.portfolio {
  color: #2C3E50;
}

.portfolio img {
  border-radius: 10px;
}

.card {
  position: relative;
  margin-bottom: 30px;
}

.portfolio .overley {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #1ABC9CB8;
  display: none;
}

.plus_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card:hover .overley {
  display: block;
}
/* /section porfolio */

/* section about me */
.about_me {
  background-color: #1ABC9C;
  color: white;
}

.about_me .btn-default {
  color: white;
  background-color: #1ABC9C;
  border-color: white;
  margin: 30px 0 80px 0;
  padding: 20px 10px;
  border: 2px solid white;
}

.about_me .btn-default:hover {
  color:black;
  background-color: white;
  border: 2px solid white;
}
/* /section about me */

/* section contact me */
.contact_me {
  color: #2C3E50;
}

.contact_me input {
  padding: 30px 0;nMW
  border-radius: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

input::placeholder {
  color: #1ABC9CB8;
  font-weight: 400;
  font-size: 20px;
}

.contact_me h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 50px 0;
}

hr:last-child {
  margin-top: 100px;
}

.contact_me button {
  background-color: #1BBC9C;
  height: 80px;
  width: 140px;
  margin: 50px 0;
}
.contact_me button:hover {
  background-color: #01604D;
}

/* /section contact me */
/* /main site */

/* footer side */
/* footer top */
.footer_top {
  background-color: #3A546D;
  color: white;
}

.icon_footer > i {
  font-size: 30px;
  margin: 10px;
}

.footer_top_content {
  padding: 50px 0;
}

.footer_top a {
  color: #1ABC9C;
}
/* /footer top */
/* footer bottom */
.footer_bootom {
  background-color: #2C3E50;
  color: white;
}
/* /footer bottom */
/* /footer side */
